<div class="main-countries">
    @for(country of countries;track country){
    <div class="country">
        <img src={{country.flags.png}} alt="India">
        <div class="country-detail">
            <p class="country-name">{{country.name.common}}</p>
            <p class="country-det">
                <span>Population: </span>{{country.population}}
            </p>
            <p class="country-det">
                <span>Region: </span>{{country.region}}
            </p>
            <p class="country-det">
                <span>Capital: </span>{{country.capital}}
            </p>
        </div>
    </div>
    }
</div>