<div class="main-countries">
    <div class="country">
        <img src="https://flagcdn.com/w320/in.png" alt="India">
        <div class="country-detail">
            <p class="country-name">India</p>
            <p class="country-det">
                <span>Population: </span>1380004385
            </p>
            <p class="country-det">
                <span>Region: </span>Asia
            </p>
            <p class="country-det">
                <span>Capital: </span>New Delhi
            </p>
        </div>
    </div>

</div>