.main-countries {
  display: grid;
  grid-template-columns: 18% 18% 18% 18%;
  justify-content: space-between;
  padding: 0 70px;
  row-gap: 80px;
  margin-top: 60px;
}

.country {
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 3px 3px rgb(0 0 0/3%);
}

.country img {
  width: 100%;
  height: 45%;
}

.country-detail {
  padding-top: 20px;
  padding-left: 20px;
}

.country-detail>* {
  margin: 10px 0;
}

.country-name {
  font-weight: 800;
  font-size: 20px;
}

.country-det {
  font-size: 14px;
}

.country-det span {
  font-weight: 600;
}
